parameters:
    level: max
    paths:
        - src

    reportUnmatchedIgnoredErrors: true

    excludePaths:
        analyseAndScan:
            - src/Commands
            - src/stubs/*

    ignoreErrors:
        -
            identifier: return.type
        -
            identifier: method.notFound
